<div class="mx-auto w-100" style="max-width: 42rem;">
  <% if alert = flash[:alert] %>
    <p class="alert alert-danger" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="alert alert-success" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="display-6 mb-4"><%= t(".page_title") %></h1>

  <%= form_with url: session_url do |form| %>
    <div class="mb-3">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: t(".email_placeholder"), value: params[:email_address], class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: t(".password_placeholder"), maxlength: 72, class: "form-control" %>
    </div>

    <div class="d-flex flex-column flex-sm-row align-items-sm-center gap-3">
      <div>
        <%= form.submit t(".sign_in"), class: "btn btn-primary" %>
      </div>

      <div class="small text-body-secondary">
        <%= link_to t(".forgot_password"), new_password_path, class: "link-secondary" %>
      </div>
    </div>
  <% end %>
</div>
