<div class="mx-auto w-100" style="max-width: 42rem;">
  <% if alert = flash[:alert] %>
    <p class="alert alert-danger" id="alert"><%= alert %></p>
  <% end %>

  <h1 class="display-6 mb-4"><%= t(".page_title") %></h1>

  <%= form_with url: password_path(params[:token]), method: :put do |form| %>
    <div class="mb-3">
      <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: t(".password_placeholder"), maxlength: 72, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: t(".password_confirmation_placeholder"), maxlength: 72, class: "form-control" %>
    </div>

    <div>
      <%= form.submit t(".save"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
